name: Continuous Integration
on:
  push:
    branches:
      - main
  pull_request: {}
jobs:
  build:
    name: "Build"
    runs-on: ubuntu-latest
    steps:

      # checkout code
      - uses: actions/checkout@v2

      # # install node
      # - name: Use Node.js 14
      #   uses: actions/setup-node@v1
      #   with:
      #     node-version: 14

      # build
      - run: ./build.sh

      - name: Upload package artifact
        uses: actions/upload-artifact@v1
        with:
          name: tmux
          path: tmux/tmux
